/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color: #000;
margin-top: 0px;
font-family: "Trebuchet MS" Arial, Helvetica, sans-serif;

}

h1 {font-size:200%;color:#fff;font-family:"Trebuchet MS", sans-serif;}
h2 {font-size:140%;color:#d730f8;font-family:"Trebuchet MS" sans-serif;line-height:2;}
h3 {font-size:125%;color:#fff;}
h4 {font-size:50%;color:#fff;}
h5 {font-size:100%;color:#d730f8;}

p {padding: 5px 0px;}
em {font-weight: bold;}

ul {margin: 0;padding: 0;}
li {list-style-type: none;}

a:link {color: #fff;}
a:visited {color: #fff;}
a:hover {color: #2831c0;}

.row {clear:both;}
.right {float: right;}
.left {float: left;}

#wrapper {
	margin: 0 auto;
	background-color: #000;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	font-size: small;
}

#header {
	height: 350px;
	background-image: url(homecopy.jpg);
}

.imgleft {
float: right;
margin: 15px 0px 5px 10px;
clear: right;
}

.imgkaraoke {
float: right;
margin: 15px 0px 10px 10px;
clear: right;
}

ul.list {
padding: 5px 0px 5px 25px;
list-style: inside;
line-height: 1.5;
}

.list li {
	list-style-type: disc;
}

blockquote {
font-style: italic;

font-size: 90%;
}

/***** Navigation Bar *****/

#navbar {
font-family: "Trebuchet MS", sans-serif;
color: #d730f8;
width: 225px;
padding: 10px 0px;
text-align: center;
font-weight: bold;
line-height: 2.5;
font-size: 165%;
float: left;
width: 180px;
}

#navbar a {
color: #d730f8;
text-decoration: none;
}

#navbar a:hover {
color: #fff;
text-decoration: none;
}

#navbar li {
background-image: url('navbutton.gif');
background-repeat: no-repeat;
text-align: center;
}



/***** Content *****/

#content {
	position: relative;
	min-height: 400px;
	padding: 10px 0px;
	width: 675px;
	float: right;
	line-height: 1.25;
	font-size: 110%
}

.image-bottom {
	position: relative;
	float: right;
	clear: right;
	bottom: 0;
	right: 0;
}

.karaoke-left {
	float: left;
	width: 400px;
}

.karaoke-right {
	float: right;
	width: 260px;
}


/***** Footer *****/

#footer {
	background-image: url(footer.jpg);
	clear: both;
	text-align: center;
	padding-top: 20px;
	font-size: 100%;
	line-height: 1.5;
	height: 60px;
}

.foot-contact {
margin-left: 25px;
}

/*** Contact Form ***/

#contact {margin-top:25px;width:500px;height: 360px;}
.col1 {float:left;width:100px;text-align:right;margin:5px 0px;padding:2px 20px 0px 0px;}
td {vertical-align:top;} 
.col2 {float:left;margin:5px 0px;}
#submit {float:left;margin-top:5px;}
